@inject Microsoft.Extensions.Configuration.IConfigurationRoot config
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="WebsiteSpark" content="GWDim6Y1dk" />
  <meta content=".NET, C#, Wildermuth, Shawn, Weblog, XAML, Silverlight, WP7, Microsoft, Training, Consulting, Database, JavaScript, CSS, Web Development, HTML"
        name="KEYWORDS" />
  <meta id="DescriptionMetaTag" content="@ViewBag.Title"
        name="DESCRIPTION" />

  <!-- for Facebook -->
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="//wildermuth.com/img/headshots/shawn-head-2016-square-200.jpg" />
  <meta property="og:description" content="@ViewBag.Title" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="@ViewBag.Title" />
  <meta name="twitter:description" content="@ViewBag.Title" />
  <meta name="twitter:image" content="//wildermuth.com/img/headshots/shawn-head-2016-square-200.jpg" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/ShawnWildermuth" />

  <title>@ViewBag.Title</title>
  <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <environment names="Development">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/clean-blog.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
  </environment>
  <environment names="Production,Staging">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/tether/dist/css/tether.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/clean-blog.min.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
  </environment>



  @RenderSection("Styles", required: false)
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="~/lib/respond/dest/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: rgba(0,0,0,0.8)">
    <div>
      <a class="navbar-brand" asp-controller="Root" asp-action="Index">Shawn Wildermuth's Blog</a>
      <button class="navbar-toggler hidden-md-up pull-right" type="button" id="toggle-menu">
        &#9776;
      </button>
      <div class="nav navbar-nav navbar-toggleable-xs nav-pills collapse hidden-sm-down pull-lg-right">
        @Html.Partial("_Menu")
      </div>
    </div>
  </nav>
  <div id="menu" class="nav hidden-md-up nav-pills nav-stacked" style="color: #fff">
    @Html.Partial("_Menu")
  </div>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('@ViewBag.PageImage')">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12">
          <div class="site-heading">
            <h2>@ViewBag.PageName</h2>
            <hr class="small">
            @if (ViewBag.PageBlurb != null)
            {
              <span class="subheading">@ViewBag.PageBlurb</span>
            }
            @if (ViewBag.PageAttribution != null)
            {
              <span class="meta">@ViewBag.PageAttribution</span>
            }
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        @RenderBody()
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        @Html.Partial("_Sidebar")
        @RenderSection("Sidebar", false)
      </div>
    </div>
  </div>
  <hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12 text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="http://feeds.feedburner.com/ShawnWildermuth">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/shawnwildermuth">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://instagram.com/shawnwildermuth">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://shawnw.me/psauthor">
                <span class="fa fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <img src="/img/pslogo-new-inverse.png" alt="Pluralsight" class="pluralsight-logo" />
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/shawnwildermuth">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://stackoverflow.com/users/40125/shawn-wildermuth">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.amazon.com/-/e/B001H6ME46">
                <span class="fa-stack fa-lg fa-hover-spin">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Wilder Minds LLC 2007-2016</p>
          <p class="copyright text-primary">Built with <a href="http://get.asp.net" target="_blank">ASP.NET Core 1.0</a>, MVC 6, <a href="http://angular.io" target="_blank">Angular 2</a>, <a href="https://github.com/aspnet/EntityFramework/wiki/Roadmap" target="_blank">Entity Framework Core 1.0</a>, <a href="http://typescript.org" target="_blank">TypeScript</a>, <a href="http://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap 4</a>, and Hosted on <a href="http://azure.com" target="_blank">Azure</a>. <a href="http://shawnw.me/learnaspnetcore" target="_blank">See my ASP.NET Core course to see how you can do it too!</a></p>
        </div>
      </div>
    </div>
  </footer>

  @Html.Partial("_Info")

  <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  </environment>
  <environment names="Production,Staging">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </environment>

  @RenderSection("Scripts", required: false)

  <environment names="Development">
    <script src="~/js/clean-blog.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/about.js"></script>
    <script src="~/js/audio.js"></script>
    <script src="~/js/video.js"></script>
  </environment>
  <environment names="Production,Staging">
    <script src="~/lib/site/wilderblog.min.js"></script>

    <!-- Google -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("@(config["Google:Analytics"])");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
    <!-- Ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </environment>
  <script id="dsq-count-scr" src="//@(config["Disqus:BlogName"]).disqus.com/count.js" async></script>
</body>
</html>
