@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject WilderBlog.Services.AdService ads
@inject CoursesProvider courses
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" @("content")="IE=edge">
  <meta name="viewport" @("content")="width=device-width, initial-scale=1.0">

  <meta name="WebsiteSpark" @("content")="GWDim6Y1dk" />
  <meta @("content")="REST, GRPC, API, ASP.NET, ASP.NET Core, .NET, C#, Wildermuth, Shawn, Weblog, Microsoft, Training, Consulting, Database, JavaScript, CSS, Web Development, HTML"
        name="KEYWORDS" />
  <meta id="DescriptionMetaTag" @("content")="@ViewBag.Title"
        name="DESCRIPTION" />

  <!-- for Facebook -->
  <meta property="og:title" @("content")="@ViewBag.Title" />
  <meta property="og:type" @("content")="article" />
  <meta property="og:image" @("content")="http://wildermuth.com/img/headshots/shawn-head-2016-square-200.jpg" />
  <meta property="og:description" @("content")="@ViewBag.Title" />

  <!-- for Twitter -->
  <meta name="twitter:card" @("content")="summary" />
  <meta name="twitter:title" @("content")="@ViewBag.Title" />
  <meta name="twitter:description" @("content")="@ViewBag.Title" />
  <meta name="twitter:image" @("content")="http://wildermuth.com/img/headshots/shawn-head-2016-square-200.jpg" />
  <meta name="twitter:creator" @("content")="@("@shawnwildermuth")       />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/ShawnWildermuth" />

  <title>@ViewBag.Title</title>

  <environment include="Development">
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-solid.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-regular.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-brands.css" rel="stylesheet" />
    <link href="~/lib/cookieconsent/cookieconsent.min.css" rel="stylesheet" />
    <link href="~/css/wilderblog.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", required: false)
  </environment>
  <environment exclude="Development">
    <link href="~/css/fonts.min.css" rel="stylesheet" />
    <link href="~/css/wilderblog.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-solid.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-regular.css" rel="stylesheet" />
    <link href="~/lib/@@fortawesome/fontawesome-free-webfonts/css/fa-brands.css" rel="stylesheet" />
    <link href="~/css/clean-blog.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/cookieconsent/cookieconsent.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
  </environment>


  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="~/lib/respond/respond.min.js"></script>
  <![endif]-->
</head>
<body class="bg-red-900">

  <div>
    <div class="flex flex-row  bg-white">

      <header class="bg-yellow-500 flex-none w-64">
        <div class="fixed  h-screen w-64  overflow-y-auto thin-scroll">
          <div class="my-6 w-40 mx-auto">
            <a asp-controller="Root" asp-action="Index">
              <img src="~/img/shawn-head-sm.jpg" data-src="/img/shawn-head.gif" alt="Shawn" class="w-100 lazy border border-gray-200 shadow rounded-full hover:shadow-lg hover:border-white" />
            </a>
          </div>
          <h1 class="text-center"><a href="~/" class="hover:text-red-700">Shawn Wildermuth</a></h1>
          <div class="text-center">
            Author, Teacher, and Filmmaker<br />
            <a href="https://dotnetfoundation.org/" target="_blank">.NET Foundation</a> Board Member
          </div>
          <ul class="ml-10 text-lg mt-10">
            <li><a asp-controller="Root" asp-action="Index">Home</a></li>
            <li><a asp-controller="Root" asp-action="Calendar">Calendar</a></li>
            <li><a href="https://www.wilderminds.com/classroom" target="_blank">Training</a></li>
            <li><a href="http://helloworldfilm.com" target="_blank">Hello World Film</a></li>
            <li><a asp-controller="Root" asp-action="About">About</a></li>
            <li><a asp-controller="Root" asp-action="Contact">Contact</a></li>
            <li><a asp-controller="Search" asp-action="Index">Search</a></li>
            <li><a asp-controller="Videos" asp-action="Index">Videos</a></li>
            <li><a href="http://eepurl.com/dgM6fb" target="_blank">Weekly Dev Tips</a></li>
            <li><a asp-controller="Podcast" asp-action="Index">Hello World Podcast</a></li>
          </ul>

          <div class="flex justify-around m-16">
            <a href="http://feeds.feedburner.com/ShawnWildermuth" title="RSS Feed">
              <span class="fa-stack fa-hover-spin">
                <i class="fas fa-rss fa-stack-2x fa-inverse"></i>
              </span>
            </a>
            <a href="https://twitter.com/shawnwildermuth" title="Twitter">
              <span class="fa-stack  fa-hover-spin">
                <i class="fab fa-twitter fa-stack-2x fa-inverse"></i>
              </span>
            </a>
            <a href="http://shawnw.me/pscourses" title="Pluralsight Courses">
              <span class="fas fa-stack  fa-hover-spin">
                <img src="/img/pslogo-new-inverse.png" alt="Pluralsight" class="pluralsight-logo" />
              </span>
            </a>
          </div>

          @RenderSection("Sidebar", false)
        </div>
      </header>
      <section id="main" class="p-2 flex-grow">
        <div>
          @if (ViewBag.PageName != null && !string.IsNullOrWhiteSpace(ViewBag.PageName))
          {
            <h1>@ViewBag.PageName</h1>
            if (ViewBag.PageBlurb != null && !string.IsNullOrWhiteSpace(ViewBag.PageBlurb))
            {
              <p class="text-red-900 text-lg">@ViewBag.PageBlurb</p>
              <hr />
            }
          }

          @RenderBody()
        </div>
        <footer class="border-t mt-8 bg-gray-100">
          <div>
            <ul class="flex flex-wrap space-x-4 justify-center text-lg font-sans">
              <li><a href="https://www.wilderminds.com/classroom" target="_blank">Training</a></li>
              <li><a href="http://helloworldfilm.com" target="_blank">Hello World Film</a></li>
              <li><a asp-controller="Root" asp-action="Calendar">Events</a></li>
              <li><a asp-controller="Videos" asp-action="Index">Videos</a></li>
              <li><a asp-controller="Podcast" asp-action="Index">Podcast</a></li>
              <li><a asp-controller="Root" asp-action="About">About</a></li>
              <li><a asp-controller="Root" asp-action="Contact">Contact</a></li>
              <li><a asp-controller="Search" asp-action="Index">Search</a></li>
              <li><a href="http://eepurl.com/dgM6fb" target="_blank">Weekly Dev Tips</a></li>
            </ul>
          </div>
          <div>
            <div class="mt-8 text-xl text-center">Follow Me</div>
            <div class="center mt-3 mb-8">
              <ul class="flex flex-wrap space-x-5 justify-center">
                <li>
                  <a href="http://feeds.feedburner.com/ShawnWildermuth" title="RSS Feed">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fas text-black fa-rss fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/shawnwildermuth" title="Twitter">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-twitter fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/shawnwildermuth/" title="LinkedIn">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-linkedin fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://youtube.com/c/swildermuth" title="YouTube">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-youtube fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/shawnwildermuth" title="GitHub">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-github fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="http://stackoverflow.com/users/40125/shawn-wildermuth" title="Stack Overflow">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-stack-overflow fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="http://shawnw.me/pscourses" title="Pluralsight Courses">
                    <span class="fas fa-stack  fa-hover-spin">
                      <img src="/img/pslogo-new.png" alt="Pluralsight" class="pluralsight-logo" style="filter: filter: invert(100%);" />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="http://www.amazon.com/-/e/B001H6ME46" title="Amazon Author Page">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-amazon fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="http://steamcommunity.com/id/shawnwildermuth/" title="Steam">
                    <span class="fa-stack  fa-hover-spin">
                      <i class="fab text-black fa-steam fa-stack-2x"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center text-gray-600">
            <p class="text-sm">Get the source code to this blog on <a href="https://github.com/shawnwildermuth/wilderblog">GitHub</a></p>
            <p class="text-sm">Built with <a href="http://get.asp.net" target="_blank">NET 5</a>, <a href="https://v3.vuejs.org/" target="_blank">Vue 3</a>, <a href="https://github.com/aspnet/EntityFramework/wiki/Roadmap" target="_blank">Entity Framework Core 5</a>, <a href="http://typescript.org" target="_blank">TypeScript</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap 4</a>, and Hosted on <a href="http://azure.com" target="_blank">Azure</a>. <a href="http://shawnw.me/learnaspnetcore3" target="_blank">See my ASP.NET Core course to see how you can do it too!</a></p>
            <p class="mt-4">Copyright &copy; Wilder Minds LLC 2007-@DateTime.UtcNow.Year</p>
          </div>
          <partial name="_Info" />
        </footer>
      </section>
      <aside class="w-64 flex-none hidden lg:block">
        <div class="fixed w-64 h-screen">
          <div class="absolute bottom-0">
            @ads.SidebarAdd()
          </div>
        </div>
      </aside>
    </div>
  </div>

  <environment names="Development">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.2.0/dist/lazyload.js"></script>
  </environment>
  <environment names="Production,Staging">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.2.0/dist/lazyload.min.js"></script>
  </environment>
  <script src="~/lib/cookieconsent/cookieconsent.min.js"></script>
  @RenderSection("Scripts", required: false)

  <environment names="Development">
    <script src="~/js/site.js"></script>
    <script src="~/js/about.js"></script>
    <script src="~/js/audio.js"></script>
    <script src="~/js/video.js"></script>
  </environment>
  <environment names="Production,Staging">
    <script src="~/lib/site/wilderblog.min.js" asp-append-version="true"></script>

    <!-- Google -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("@(config["Google:Analytics"])");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
    <!-- Ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- Clarity -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "3wp8nx7dd9");
    </script>
  </environment>
  <script id="dsq-count-scr" src="//@(config["Disqus:BlogName"]).disqus.com/count.js" async></script>
  <!-- Mailchimp Signup -->
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us2.list-manage.com", "uuid": "f781ff917cdb39583826d6888", "lid": "e34966084d" }) })</script>
</body>
</html>
