@{
  var ctrl = (string)ViewContext.RouteData.Values["controller"]!;
  var action = (string)ViewContext.RouteData.Values["action"]!;
  var isCurrent = new Func<string, string, string>((c, a) =>
  {
    if ((string.IsNullOrWhiteSpace(a) && c == ctrl) || (c == ctrl && a == action)) return "active";
    return "";
  });
}
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Index")" asp-controller="Root" asp-action="Index">Home</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Podcast", "")" asp-controller="Podcast" asp-action="Index">Podcast</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Calendar")" asp-controller="Root" asp-action="Calendar">Events</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Videos", "")" asp-controller="Videos" asp-action="Index">Videos</a></li>
<li class="nav-item"><a class="nav-link" href="https://www.wilderminds.com/classroom" target="_blank" >Training</a></li>
<li class="nav-item"><a class="nav-link" href="http://helloworldfilm.com" target="_blank">Hello World Film</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "About")" asp-controller="Root" asp-action="About">About</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Contact")" asp-controller="Root" asp-action="Contact">Contact</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Search", "")" asp-controller="Search" asp-action="Index">Search</a></li>