@model BlogStory
<div class="col-12 col-md-6 col-xl-4 my-1">
  <div class="card bg-light" style="min-height: 275px;">
    <div class="card-img-top">
      <a href="/@Model.Slug"><img src="@(Model.FeatureImageUrl)" alt="@Model.Title" class="img-fluid img-thumbnail" /></a>
    </div>
    <div class="card-body">
      <div class="card-title"><a href="/@Model.Slug">@Model.Title</a></div>
      <div class="card-subtitle">
        <small><i class="fas fa-calendar"></i>&nbsp;@Model.DatePublished.AddHours(-4).ToString("MMMM dd, yyyy")</small>
      </div>
    </div>
    @*<div class="d-flex justify-content-between align-items-start">
      <div>
        @Html.Raw(Model.Abstract)
      </div>
      <div class="d-none d-md-flex" style="max-width: 250px;">
        <a href="/@Model.Slug"><img src="@(Model.FeatureImageUrl)" alt="@Model.Title" class="img-fluid img-thumbnail" /></a>
      </div>
    </div>
    <p><a href="/@Model.Slug" class="btn btn-custom"><i class="fas fa-glasses"></i> Read...</a></p>
    <hr/>*@
  </div>
</div>

