@model IEnumerable<WilderBlog.Services.DataProviders.Video>
@{
  ViewBag.Title = "My Videos - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "My Videos";
  ViewBag.PageBlurb = "A collection of my instructional videos";
  ViewBag.PageImage = "/img/headers/video.jpg";
}
<div class="mt-2 grid grid-cols-1 lg:grid-cols-2 lg:gap-1">
  @foreach (var v in Model)
  {
  <div class="p-1 border border-gray-200">
    <h4>@v.Title</h4>
    <p>@v.Description</p>
    <div><small>Published: @v.DatePublished.ToString("D")</small></div>
    <button class="btn video-toggle" data-id="@v.Id">Show Video</button>
    <a class="btn" asp-controller="Videos" asp-action="Video" asp-route-id="@v.Id" target="_blank" role="button">View in new Tab</a>

    <div class="video-container hidden" id="video-@v.Id">
      <partial name="_VideoFrame" model="v" />
    </div>
  </div>
  }
</div>