@model IEnumerable<WilderBlog.Services.DataProviders.Video>
@{
  ViewBag.Title = "My Videos - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "My Videos";
  ViewBag.PageBlurb = "A collection of my instructional videos";
  ViewBag.PageImage = "/img/headers/video.jpg";
}
<div class="row">
  @foreach (var v in Model)
  {
    <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card ">
        <div class="card-block">
            <button class="btn btn-outline-primary pull-right video-toggle" data-id="@v.Id">Show Video</button>
            <a class="btn btn-outline-primary pull-right" asp-controller="Videos" asp-action="Video" asp-route-id="@v.Id" target="_blank" role="button">View in new Tab</a>
          <h3 class="card-title">@v.Title</h3>
          <div class="card-text"><small>Published: @v.DatePublished.ToString("D")</small></div>
          <p class="card-text">@v.Description</p>

        </div>
        <div class="video-container collapse" id="video-@v.Id">
          @Html.Partial("_VideoFrame", v)
        </div>
      </div>
    </div>
  }
</div>