@model BlogResult
@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Search Results";
  ViewBag.PageBlurb = $"#/Results: {Model.TotalResults}";
  ViewBag.PageImage = "/img/blog/shawnteaching.png";
  ViewBag.ControllerName = "Search";
}
<div class="row">
  <div class="col-lg-12">
    <form id="searchForm" novalidate>
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" id="search" value="@ViewBag.Term" required placeholder="Search Term..." />
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>
@if (Model.Stories != null)
{
  <div class="col-lg-12">
    @Html.Partial("_Pager")
  </div>
  @foreach (var story in Model.Stories)
  {
    <div class="post-preview">
      <h3 class="post-title"><a href="@story.Slug">@story.Title</a></h3>
      <p class="post-meta">
        <i class="fa fa-calendar"></i> @story.DatePublished.ToString("MMMM dd, yyyy")
        <i class="fa fa-edit"></i> Shawn Wildermuth
        <i class="fa fa-comments-o"></i> No Comments
        <br />
        <i class="fa fa-tags"></i>
        @foreach (var tag in story.Categories.Split(','))
        {
          <a asp-controller="Root" asp-action="tag" asp-route-id="@tag">@tag</a>
        }
      </p>
      @Html.Raw(story.GetSummary())
    </div>
    <hr />
  }

  <div class="col-lg-12">
    @Html.Partial("_Pager")
  </div>
}