@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@{
  ViewBag.Title = "About Me - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "About Me";
  ViewBag.PageBlurb = "A little bit about who I am and what I do...";
  ViewBag.PageImage = "/img/headers/about.jpg";
}
@section scripts {
  <script src="~/lib/lodash/lodash.min.js"></script>

}
<div class="row">
  <div class="col-lg-3 hidden-sm-down">
    <img src="~/img/headshots/shawn-head-2016-800x600.jpg" class="img-fluid img-rounded" alt="Shawn Wildermuth" />
  </div>
  <div class="col-lg-9 col-sm-12 col-xs-12">
    <h3>Bio</h3>
    <p>
      Shawn Wildermuth has been tinkering with computers and software since he got a Vic-20 back in the early 
      ‘80s. As a Microsoft MVP since 2003, he’s also involved with Microsoft as an ASP.NET Insider and ClientDev 
      Insider. You may have taken one of his more than <a href='http://shawnw.me/pscourses'>twenty courses on Pluralsight.</a> 
      He’s authored eight books and innumerable articles on software development. You can also see him at one of 
      the local and international conferences he’s spoken at including TechEd, Oredev, SDC, NDC, VSLive, 
      DevIntersection, MIX, Devteach, DevConnections and Dev Reach. He is one of the Wilder Minds. You can reach 
      him at his blog at <a href="http://wildermuth.com">wildermuth.com</a>. He’s also making his first, feature-length, documentary about 
      software developers today called “Hello World: The Film”. You can see more about it at <a href="http://helloworldfilm.com">helloworldfilm.com</a>.
    </p>
    <h4>Connect with Me</h4>
    <ul class="list-unstyled">
      <li><a href="https://twitter.com/shawnwildermuth" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
      <li><a href="https://instagram.com/shawnwildermuth" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/shawnwildermuth/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="https://youtube.com/c/swildermuth" target="_blank"><i class="fab fa-youtube-square"></i> YouTube</a></li>
      <li><a href="https://github.com/shawnwildermuth" target="_blank"><i class="fab fa-github-square"></i> GitHub</a></li>
      <li><a href="http://stackoverflow.com/users/40125/shawn-wildermuth" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a></li>
      <li><a href="http://www.amazon.com/-/e/B001H6ME46" target="_blank"><i class="fab fa-amazon"></i> Amazon Author Page</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6">
    <h4>Upcoming Events</h4>
    <div class="card">

      @foreach (var ap in appearances.Get().Where(e => e.EventDate > DateTime.Today))
      {
        <div class="card-body">
          <h6><a href="@ap.Link" target="_blank">@ap.EventName</a></h6>
          <div class="card-text"><small>@ap.Location - @ap.FormattedDate</small></div>
          @if (!string.IsNullOrWhiteSpace(ap.Note))
          {
            <div class="muted"><small>@ap.Note</small></div>
          }
        </div>
      }
    </div>
  </div>
  <div class="col-lg-6">
    <h4>Open Source Projects</h4>
    <div class="card" id="openSourceList">

    </div>
  </div>
</div>