@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@{
  ViewBag.Title = "About Me - Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "About Me";
  ViewBag.PageBlurb = "A little bit about who I am and what I do...";
  ViewBag.PageImage = "/img/headers/about.jpg";
}
@section scripts {
  <script src="~/lib/lodash/dist/lodash.min.js"></script>

}
<div class="row">
  <div class="col-lg-3 hidden-sm-down">
    <img src="~/img/headshots/shawn-head-2016-800x600.jpg" class="img-fluid img-rounded" alt="Shawn Wildermuth" />
  </div>
  <div class="col-lg-9 col-sm-12 col-xs-12">
    <h3>Bio</h3>
    <p>Shawn Wildermuth is a fourteen-time Microsoft MVP (ASP.NET/IIS) and is involved with Microsoft as an ASP.NET Insider, ClientDev Insider and Windows Phone Insider. You may have taken one of his more than <a href="http://shawnw.me/psauthor">twenty courses for Pluralsight</a> including <a href="http://shawnw.me/learnaspnetcore">Building a Web App with ASP.NET Core, MVC, EF and Angular</a> and <a href="http://shawnw.me/learnbootstrap">Bootstrap 3</a>. He is also the author of eight books and dozens of articles on software development. He has been seen speaking at a variety of international conferences including TechEd, Oredev, SDC, VSLive, DevIntersection, MIX, DevTeach, DevConnections and DevReach. He is one of the <a href="http://wilderminds.com">Wilder Minds LLC</a>.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-6">
    <h4>Upcoming Events</h4>
    <div class="card">

      @foreach (var ap in appearances.Get().Where(e => e.EventDate > DateTime.Today))
      {
        <div class="card-block">
          <h6><a href="@ap.Link" target="_blank">@ap.EventName</a></h6>
          <div class="card-text"><small>@ap.Location - @ap.FormattedDate</small></div>
          @if (!string.IsNullOrWhiteSpace(ap.Note))
          {
            <div class="muted"><small>@ap.Note</small></div>
          }
        </div>
      }
    </div>
  </div>
  <div class="col-lg-6">
    <h4>Open Source Projects</h4>
    <div class="card" id="openSourceList">

    </div>
  </div>
</div>