@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@{
  ViewBag.Title = $"Upcoming Events - Shawn Wildermuth";
  ViewBag.PageName = "Upcoming Events";
  ViewBag.PageImage = "/img/headers/code.jpg";
}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    @foreach (var ap in appearances.Get().Where(e => e.EventDate.AddDays(e.Length - 1) >= DateTime.Today))
    {
      <div style="min-height: 100px;">
        @if (!string.IsNullOrWhiteSpace(ap.Logo))
        {
          <a href="@ap.Link"><img src="@ap.Logo" alt="@ap.EventName" class="pull-right img-fluid" style="max-height: 100px;max-width: 200px;" /></a>
        }
        <h3><a href="@ap.Link" target="_blank">@ap.EventName</a></h3>
        <div>@ap.Location - @ap.FormattedDate</div>
        @if (!string.IsNullOrWhiteSpace(ap.Note))
        {
          <div class="text-muted small">@ap.Note</div>
        }
      </div>      
      <hr class="hr" />
    }
  </div>
</div>