@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@model BlogResult
@{
  ViewBag.Title = "Shawn Wildermuth's Rants and Raves";
  ViewBag.PageName = "Shawn Wildermuth";
  ViewBag.PageBlurb = "My Rants and Raves about technology, programming, everything else...";
  ViewBag.PageImage = "/img/headers/shawn_talk.jpg";
  ViewBag.ControllerName = "Root";
}
@section Sidebar {
  <hr />
  <h3><a asp-controller="Root" asp-action="Calendar">My Appearances</a></h3>
  <div class="appearance-block">
    <h5>No Appearances in 2019</h5>
    <div class="text-muted small">I'm taking a year off of conferences to finish my film, see you in 2020!</div>
  </div>
  @*@foreach (var ap in appearances.Get().Where(e => e.EventDate.AddDays(e.Length -1) >= DateTime.Today))
  {
    <div class="appearance-block">
      <h5><a href="@ap.Link" target="_blank">@ap.EventName</a></h5>
      <div>@ap.Location - @ap.FormattedDate</div>
      @if (!string.IsNullOrWhiteSpace(ap.Note))
      {
        <div class="text-muted small">@ap.Note</div>
      }
    </div>
    <hr class="tiny-hr" />
  }*@
}
<div class="row">
  <div class="col-lg-12">
    @Html.Partial("_Pager")
  </div>
</div>@foreach (var story in Model.Stories)
{
  @Html.Partial("_StoryBrief", story)
}

<div class="row">
  <div class="col-lg-12">
    @Html.Partial("_Pager")
  </div>
</div>