@model BlogStory
@inject WilderBlog.Services.AdService ads
@inject Microsoft.Extensions.Configuration.IConfigurationRoot config
@{
  ViewBag.Title = $"{Model.Title} - Shawn Wildermuth";
  ViewBag.PageName = Model.Title;
  var pubDate = Model.DatePublished.AddHours(-4).ToString("MMM dd, yyyy on H:mmtt");
  ViewBag.PageAttribution = $"Posted by Shawn Wildermuth on {pubDate}";
  ViewBag.PageImage = "/img/headers/code.jpg";
}
<p class="post-meta">
    <i class="fa fa-tags"></i>
    @foreach (var tag in Model.Categories.Split(','))
    {
      <a asp-controller="Tag" asp-action="Index" asp-route-tag="@tag">@tag</a>
    }
    <br/><i class="fa fa-comments-o"></i> <span class="disqus-comment-count" data-disqus-identifier="@Model.UniqueId">No Comments</span>.
</p>

@Html.Raw(Model.Body)
<div class="card">
  <div class="pull-left" style="padding-right: 5px;">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
      <img alt="Creative Commons License" class="img-fluid img-thumbnail" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
    </a>
  </div>
  <div class="card-text">
    <small>
      This work by <a xmlns:cc="http://creativecommons.org/ns#" href="//wildermuth.com"
                      property="cc:attributionName" rel="cc:attributionURL">Shawn Wildermuth</a> is
      licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
        Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License
      </a>. Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="//wildermuth.com"
                                  rel="dct:source">wildermuth.com</a>.
    </small>
  </div>
</div>
<hr />
@ads.InlineAdd()
<hr />
<div id="disqus_thread"></div>
@section Styles {
  <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shCore.css" />
  <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shThemeDefault.css" />
}
@section Scripts {
  <script>
    var disqus_config = function () {
      this.page.url = "@("https://wildermuth.com/" + Model.GetStoryUrl())";
      this.page.identifier = "@Model.UniqueId";
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//@(config["Disqus:BlogName"]).disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <script type="text/javascript" src="~/3rdparty/js/sh/shCore.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCSharp.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/sh/shBrushJScript.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/sh/shBrushXml.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCss.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/sh/shBrushSass.js"></script>
  <script type="text/javascript" src="~/3rdparty/js/syntaxhighlight.js"></script>
}
